@using ScienceOfQuality.Models
@model SupportTicketModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Support Tickets</h1>
@if (@SoqData.Tickets.Count >= 1)
{
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Ticket #</th>
                <th>Issue</th>
                <th>Severity</th>
            </tr>
        </thead>
        @foreach (SupportTicketModel ticket in SoqData.Tickets)
        {
        <tr>
            <td>@Html.ActionLink(@ticket.Id.ToString(), "Edit", new { Id = @ticket.Id })</td>
            <td>@ticket.Issue</td>
            @if(@ticket.Severity!=""){
            <td>@ticket.Severities.FirstOrDefault(t => t.Id.ToString() == @ticket.Severity).Name</td>
            }
            else{
            <td></td>
            }
        </tr>
        }
    </table>
}
<div class="row">
    @using (Html.BeginForm("Create", "SupportTicket", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {

        <button type="submit" class="btn btn-default">Create New Ticket</button>
    }   

</div>
